<div class="row" id="left">

  <div class="card-body">
      <div class="position inputsize input-group mb-3">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="position form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      <button class="position buttonclass btn btn-primary">Search</button>
    </div>

  <div class=page-header>
    <ul class="list-group list-group-flush" >
    <li class="list-group-item"><a routerLink="/profile" >View New Connections</a></li>
    <li class="list-group-item"><a routerLink="/feed" >Apply for jobs</a></li>
    <li class="list-group-item"><h5>No Messages Found</h5></li>
    <li class="list-group-item"><a routerLink="/usrDashboard" >
    <span class="glyphicon glyphicon-pencil"></span></a></li>
    </ul>
</div>
</div>
