<div class="cardspace card">
  <div class="card-body">
    <div class="position inputsize input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="text" class="position form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <button class="position buttonclass btn btn-primary">Search</button>
  </div>
</div>
<div class="list-group">
  <a routerLink="/" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-8 col-sm-10">
          <img height="120px" src="https://www.organicheadshots.com/images/headshot01-thumb.jpg">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="row">
              <a color="green">Jack Johnson</a>
          </div>
            <div class="row">
              <h4>Senior Sargeant - 30 year experience</h4>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-5 col-sm-6">
                <h5>$30-40 / hour </h5>
              </div>
              <div class="col-lg-2 col-md-5 col-sm-6">
                <h5>$3,000+ earned </h5>
              </div>
              <div class="col-lg-2 col-md-5 col-sm-6">
                <h5>100% Job Success </h5>
              </div>
              <div class="col-lg-2 col-md-5 col-sm-6">
                  <h5>Profile Verified </h5>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-10 col-sm-10">
              <p>Hello. My name is Jack Johnson and I am a 30 year veteran at CPD. I have extensive experience dealing with event security and bar/restaurant bouncing... ...</p>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <h5>Experience Tags:</h5>
                  </div>  
                  <div class="col-lg-8 col-md-8 col-sm-10">
                    <button class="btnformat btn btn-primary">Security</button>
                    <button class="btnformat btn btn-primary">Surveillance</button>

                    <button class="btnformat btn btn-primary">Events</button>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                      <a>Location: <br>Chicago, IL</a>
                    </div>         
            </div>
          </div>
      </div>
    </div>
  </a>
  <a routerLink="/" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <img height="120px" src="https://bloximages.chicago2.vip.townnews.com/tucson.com/content/tncms/assets/v3/editorial/c/a0/ca04d11e-1d3e-11e9-9db5-67f8307e919d/5c455b3c5bbcf.image.jpg?crop=1172%2C1219%2C0%2C0&resize=500%2C520&order=crop%2Cresize">
          </div>
          <div class="col-10">
            <div class="row">
                <a color="green">Jack Johnson</a>
            </div>
              <div class="row">
                <h4>Senior Sargeant - 30 year experience</h4>
              </div>
              <div class="row">
                <div class="col-1">
                  <h5>$30-40 / hour </h5>
                </div>
                <div class="col-1">
                  <h5>$3,000+ earned </h5>
                </div>
                <div class="col-1">
                  <h5>100% Job Success </h5>
                </div>
                <div class="col-1">
                    <h5>Profile Verified </h5>
                  </div>
              </div>
              <div class="row">
                <p>Hello. My name is Jack Johnson and I am a 30 year veteran at CPD. I have extensive experience<br> dealing with event security and bar/restaurant bouncing... ...</p>
              </div>
              <div class="row">
                  <div class="col-1">
                      <h5>Experience Tags:</h5>
                    </div>  
                    <div class="col-4">
                      <button class="btnformat btn btn-primary">Security</button>
                      <button class="btnformat btn btn-primary">Surveillance</button>
  
                      <button class="btnformat btn btn-primary">Events</button>
  
                      </div>
                      <div class="col-2">
                        <a>Chicago, IL</a>
                      </div>         
              </div>
            </div>
        </div>
      </div>
    </a>
    <a routerLink="/" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <img height="120px" src="https://i.pinimg.com/originals/20/0b/88/200b88f70d8c50d2d985e61979399fc2.jpg">
            </div>
            <div class="col-10">
              <div class="row">
                  <a color="green">Jennifer Smith</a>
              </div>
                <div class="row">
                  <h4>CPD Officer - Bouncing/Event Security</h4>
                </div>
                <div class="row">
                  <div class="col-1">
                    <h5>$45-50 / hour </h5>
                  </div>
                  <div class="col-1">
                    <h5>$10,000+ earned </h5>
                  </div>
                  <div class="col-1">
                    <h5>98% Job Success </h5>
                  </div>
                  <div class="col-1">
                      <h5>Profile Verified </h5>
                    </div>
                </div>
                <div class="row">
                  <p>Hello. My name is Jennifer and I work for CPD. I have extensive experience<br> dealing with event security and bar/restaurant bouncing... ...</p>
                </div>
                <div class="row">
                    <div class="col-1">
                        <h5>Experience Tags:</h5>
                      </div>  
                      <div class="col-4">
                        <button class="btnformat btn btn-primary">Security</button>
                        <button class="btnformat btn btn-primary">Surveillance</button>
    
                        <button class="btnformat btn btn-primary">Events</button>
    
                        </div>
                        <div class="col-2">
                          <a>Chicago, IL</a>
                        </div>         
                </div>
              </div>
          </div>
        </div>
      </a>

  
</div>

