

<div class="row">
  <div class="col-xs-12">
    <!--<form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
      <form (submit)="sendMessage()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Messenger</label>
          <input [(ngModel)]="msg" name="msg">
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            id="send"
            >Send</button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
