

#search{
    display:inline-block;
    width:250px;
    margin-left:30px;
}


.txt{
    display: inline-block;
    margin-left:30px;
    margin-top:50px;
}
.btnfloat{
    float:right;
    margin-top:50px;
    margin-right:20px;
}